<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://use.fontawesome.com/0a1c4f296a.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="vueContainer" class="background">
        <div class="toolbar"></div>
        <div class="container">
            <div class="column-a">
                <div class="navbar">
                    <div class="avatar">
                        <img src="imgs/avatar_1.jpg" alt="">
                    </div>
                    <div class="grow-1"></div>
                    <div class="fas-icons">
                        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <i class="fa fa-comments" aria-hidden="true"></i>
                    </div>

                </div>
                <div class="ricerca">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input class="grow-1" type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
                <div class="contatti" v-for="contact in contacts" @click="selectContact(contact)">
                    {{contact.name}}
                </div>
            </div>
            <div class="column-b">{{activeContact.name}}{{activeContact
                <div class="navbar-b">
                    <div class="contact">
                        <div class="avatar">
                            <img src="imgs/avatar_io.jpg" alt="">
                        </div>
                       

                    </div>
                    <div class="fasicons">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <i class="fa fa-comments" aria-hidden="true"></i>

                    </div>
                </div>
                <!-- <div class="messages" v-for="">{{message.message}}</div> -->
                <div class="sendbar">
                    <div class="fasbox">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                    </div>
                    <input class="radius grow-1 lineheight" type="text" placeholder="Scrivi un messaggio">
                    <div class="fasbox">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="data.js"></script>
    <script src="app.js"></script>
</body>

</html>