* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    height: 100vh;
    width: 100vw;
}

.toolbar {
    position: absolute;
    background-color:rgba(47, 168, 168, 0.829);
    height: 60px;
    width: 100vW;
    z-index: 0;
}

.container {
    padding-top: 40px;
    z-index: 2;
    display: flex;
    margin: auto;
    height: 80%;
    width: 80%;
    flex-wrap: nowrap;
}

.column-a {
    z-index: 2;
    height: 100%;
    width: 30%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: lightgray;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    line-height: 30px;
}

.avatar {
    height: 80%;
}

.avatar img {
    height: 100%;
    border-radius: 50%;
}

.ricerca {
    background-color: whitesmoke;
    display: flex;
    position: relative;
    padding: 8px;
}

.inputstyle {
    padding: 5px;
    border: none;
    margin: auto;
}

.absolute {
    position: absolute;
    top: 13px;
    left: 15px;
}

.contatti {
    border-top: 1px solid;
    padding: 20px;
}

.column-b {
    padding-top: 30px;
    display: flex;
    height: 100%;
    width: 70%;
    flex-grow: 1;
    border: 1px solid black;
    background-image: url('imgs/mine.jpg');
    position: relative;
}

.navbar-b {
    background-color: lightgray;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    position: absolute;
    top: 0;
}

.sendbar {
    background-color: lightgray;
    height: 40px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.grow-1{
    flex-grow: 1;
    overflow: auto;
}

.radius {
    border-radius: 10px;
    padding-left: 30px;
}

.fasbox {
    padding: 2px 4px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.send {
    border: 1px solid red;
}

.received {
    border: 1px solid blue;
}