* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.background {
    height: 100vh;
    width: 100vw;
}

.toolbar {
    position: absolute;
    background-color:rgba(47, 168, 168, 0.829);
    height: 60px;
    width: 100vW;
    z-index: 0;
}

.container {
    padding-top: 40px;
    z-index: 2;
    display: flex;
    margin: auto;
    height: 80%;
    width: 80%;
    flex-wrap: nowrap;
}

.column-a {
    border: 1px solid gray;
    z-index: 2;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.navbar {
    background-color: lightgray;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    line-height: 30px;
}

.avatar {
    height: 80%;
}

.avatar img {
    height: 100%;
    border-radius: 50%;
    vertical-align: middle;
}

.ricerca {
    background-color: whitesmoke;
    display: flex;
    position: relative;
    padding: 8px;
}

.inputstyle {
    padding: 5px;
    border: none;
    margin: auto;
}

.absolute {
    position: absolute;
    top: 13px;
    left: 15px;
}

.contatti {
    border-top: 1px solid;
    padding: 20px;
    vertical-align: middle;
}

.box-img {
    display: inline-block;
    height: 30px;
    width: 30px;
}

.box-img img {
    height: 100%;
    border-radius: 50%;
}

.column-b {
    border-radius: 10px;
    padding-top: 30px;
    display: flex;
    height: 100%;
    width: 70%;
    flex-grow: 1;
    border: 1px solid gray;
    background-image: url('imgs/mine.jpg');
    position: relative;
}

.navbar-b {
    background-color: lightgray;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    position: absolute;
    top: 0;
}

.sendbar {
    background-color: lightgray;
    height: 40px;
    width: 100%;
    border: 1px solid gray;
    display: flex;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.grow-1 {
    flex-grow: 1;
    overflow: auto;
}

.radius {
    border-radius: 10px;
    padding-left: 30px;
}

.fasbox {
    padding: 2px 8px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.sent {
    align-self: flex-end;
    line-height: normal;
    padding: 5px;
    background-color: rgb(200, 253, 200);
    border-radius: 5px;
}

.received {
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.popup {
    position: absolute;
    width: 180px;
    border-radius: 4px;
    box-shadow: 0 1px 4 px rgba(0, 0, 0, 0,4);
    background-color: white;
    overflow: hidden;
}

.popup ul {

}

.popup ul li {
    padding: 8px 14px;
    transition: background-color .3s;
    cursor: pointer;
}

.message.received {

}

.message.received .popup-activator {

}

.message.sent .popup {

}

.popup-activator {
    position: absolute;
    opacity: ;
}


